<div class="jumbletron">
    <h1 class="display-4 text-center">Accounts Balance Viewer</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <app-account-detail></app-account-detail>
        </div>

        <div class="col-md-7">
            <app-account-detail-list (monthAccDetailChange)="getMonthData($event)"></app-account-detail-list>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <app-month-acc-detail [monthAccData]="monthAccData"></app-month-acc-detail>
        </div>
    </div>
</div>
