<p>Monthly Account Details</p>
<table class="table table-hover">
    <tr>
        <th>R&D</th>
        <th>Canteen</th>
        <th>CEO's Car</th>
        <th>Marketing</th>
        <th>Parking</th>
    </tr>
    <tr *ngIf="monthAccData">
        <td>{{monthAccData.RND}}</td>
        <td>{{monthAccData.Canteen}}</td>
        <td>{{monthAccData.CEO}}</td>
        <td>{{monthAccData.Marketing}}</td>
        <td>{{monthAccData.Parking}}</td>
    </tr>
</table>