<p>Click Record to View Account Details</p>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-hover table-striped mb-0">
    <tr *ngFor="let acc of accDetailService.list">
        <td (click)="populateTable(acc.AccId)">{{acc.Year}}</td>
        <td (click)="populateTable(acc.AccId)">{{acc.Month}}</td>
        <td><a [href]="createFilePath(acc.FilePath)" download>Download CSV File</a></td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(acc.AccId)"></i>
        </td>
    </tr>
</table>

