<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="AccId" [value]="service.formData.AccId">

    <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>

    <div class="form-row">

      <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-calendar-alt"  [class.green-icon]="Year.valid" [class.red-icon]="Year.invalid && Year.touched"></i>
            </div>
          </div>
          <select name="Year" #Year="ngModel" [(ngModel)]="service.formData.Year" class="form-control" required>
            <option value='' selected ng-value="null">Year</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2018</option>
            <option value="2016">2018</option>
            <option value="2015">2018</option>
            <option value="2014">2018</option>
            <option value="2013">2018</option>
            <option value="2012">2018</option>
            <option value="2011">2018</option>
            <option value="2010">2018</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-calendar-alt"  [class.green-icon]="Month.valid" [class.red-icon]="Month.invalid && Month.touched"></i>
            </div>
          </div>
          <select name="Month" #Month="ngModel" [(ngModel)]="service.formData.Month" class="form-control" required>
            <option value='' selected ng-value="null">Month</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div>
      </div>

    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
    </div>

  </form>